<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-version-heading" jhiTranslate="testUaaApp.version.home.createOrEditLabel">Create or edit a Version</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testUaaApp.version.idversion" for="field_idversion">Idversion</label>
                    <input type="number" class="form-control" name="idversion" id="field_idversion"
                           formControlName="idversion"/>
                    <div *ngIf="editForm.get('idversion')!.invalid && (editForm.get('idversion')!.dirty || editForm.get('idversion')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idversion')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idversion')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testUaaApp.version.refversion" for="field_refversion">Refversion</label>
                    <input type="text" class="form-control" name="refversion" id="field_refversion"
                           formControlName="refversion"/>
                    <div *ngIf="editForm.get('refversion')!.invalid && (editForm.get('refversion')!.dirty || editForm.get('refversion')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('refversion')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 254 }">
                        This field cannot be longer than 254 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testUaaApp.version.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                    <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelle')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 254 }">
                        This field cannot be longer than 254 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testUaaApp.version.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testUaaApp.version.fichier" for="field_fichier">Fichier</label>
                    <input type="text" class="form-control" name="fichier" id="field_fichier"
                           formControlName="fichier"/>
                    <div *ngIf="editForm.get('fichier')!.invalid && (editForm.get('fichier')!.dirty || editForm.get('fichier')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fichier')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 254 }">
                        This field cannot be longer than 254 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testUaaApp.version.idtypeterminal" for="field_idtypeterminal">Idtypeterminal</label>
                    <select class="form-control" id="field_idtypeterminal" name="idtypeterminal" formControlName="idtypeterminal">
                        <option *ngIf="!editForm.get('idtypeterminal')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="typeterminalOption.id === editForm.get('idtypeterminal')!.value?.id ? editForm.get('idtypeterminal')!.value : typeterminalOption" *ngFor="let typeterminalOption of typeterminals; trackBy: trackById">{{ typeterminalOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('idtypeterminal')!.invalid && (editForm.get('idtypeterminal')!.dirty || editForm.get('idtypeterminal')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('idtypeterminal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
