<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-choisit-heading" jhiTranslate="testUaaApp.choisit.home.createOrEditLabel">Create or edit a Choisit</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testUaaApp.choisit.idproduit" for="field_idproduit">Idproduit</label>
                    <input type="number" class="form-control" name="idproduit" id="field_idproduit"
                           formControlName="idproduit"/>
                    <div *ngIf="editForm.get('idproduit')!.invalid && (editForm.get('idproduit')!.dirty || editForm.get('idproduit')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idproduit')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idproduit')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testUaaApp.choisit.idattributaire" for="field_idattributaire">Idattributaire</label>
                    <select class="form-control" id="field_idattributaire" name="idattributaire" formControlName="idattributaire">
                        <option *ngIf="!editForm.get('idattributaire')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="attributaireOption.id === editForm.get('idattributaire')!.value?.id ? editForm.get('idattributaire')!.value : attributaireOption" *ngFor="let attributaireOption of attributaires; trackBy: trackById">{{ attributaireOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('idattributaire')!.invalid && (editForm.get('idattributaire')!.dirty || editForm.get('idattributaire')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('idattributaire')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
