<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attributaire">
            <h2><span jhiTranslate="testUaaApp.attributaire.detail.title">Attributaire</span> {{ attributaire.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testUaaApp.attributaire.idattributaire">Idattributaire</span></dt>
                <dd>
                    <span>{{ attributaire.idattributaire }}</span>
                </dd>
                <dt><span jhiTranslate="testUaaApp.attributaire.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ attributaire.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="testUaaApp.attributaire.codeattributaire">Codeattributaire</span></dt>
                <dd>
                    <span>{{ attributaire.codeattributaire }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attributaire', attributaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
