<div>
    <h2 id="page-heading">
        <span jhiTranslate="testUaaApp.pdv.home.title">Pdvs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pdv" [routerLink]="['/pdv/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testUaaApp.pdv.home.createLabel">
            Create a new Pdv
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pdvs?.length === 0">
        <span jhiTranslate="testUaaApp.pdv.home.notFound">No pdvs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pdvs && pdvs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numero"><span jhiTranslate="testUaaApp.pdv.numero">Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agence"><span jhiTranslate="testUaaApp.pdv.agence">Agence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation"><span jhiTranslate="testUaaApp.pdv.designation">Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ville"><span jhiTranslate="testUaaApp.pdv.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statut"><span jhiTranslate="testUaaApp.pdv.statut">Statut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pdv of pdvs ;trackBy: trackId">
                    <td><a [routerLink]="['/pdv', pdv.id, 'view']">{{ pdv.id }}</a></td>
                    <td>{{ pdv.numero }}</td>
                    <td>{{ pdv.agence }}</td>
                    <td>{{ pdv.designation }}</td>
                    <td>{{ pdv.ville }}</td>
                    <td>{{ pdv.statut }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pdv', pdv.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pdv', pdv.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pdv)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="pdvs && pdvs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
