<div>
    <h2 id="page-heading">
        <span jhiTranslate="testUaaApp.paiementlots.home.title">Paiementlots</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-paiementlots" [routerLink]="['/paiementlots/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testUaaApp.paiementlots.home.createLabel">
            Create a new Paiementlots
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paiementlots?.length === 0">
        <span jhiTranslate="testUaaApp.paiementlots.home.notFound">No paiementlots found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paiementlots && paiementlots.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idlotpaiement"><span jhiTranslate="testUaaApp.paiementlots.idlotpaiement">Idlotpaiement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codepaiement"><span jhiTranslate="testUaaApp.paiementlots.codepaiement">Codepaiement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="testUaaApp.paiementlots.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="seuil"><span jhiTranslate="testUaaApp.paiementlots.seuil">Seuil</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantavance"><span jhiTranslate="testUaaApp.paiementlots.montantavance">Montantavance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="delaipurge"><span jhiTranslate="testUaaApp.paiementlots.delaipurge">Delaipurge</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuautorise"><span jhiTranslate="testUaaApp.paiementlots.lieuautorise">Lieuautorise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuannulation"><span jhiTranslate="testUaaApp.paiementlots.lieuannulation">Lieuannulation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paiementlots of paiementlots ;trackBy: trackId">
                    <td><a [routerLink]="['/paiementlots', paiementlots.id, 'view']">{{ paiementlots.id }}</a></td>
                    <td>{{ paiementlots.idlotpaiement }}</td>
                    <td>{{ paiementlots.codepaiement }}</td>
                    <td>{{ paiementlots.type }}</td>
                    <td>{{ paiementlots.seuil }}</td>
                    <td>{{ paiementlots.montantavance }}</td>
                    <td>{{ paiementlots.delaipurge }}</td>
                    <td>{{ paiementlots.lieuautorise }}</td>
                    <td>{{ paiementlots.lieuannulation }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/paiementlots', paiementlots.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/paiementlots', paiementlots.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paiementlots)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="paiementlots && paiementlots.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
