<div>
    <h2 id="page-heading">
        <span jhiTranslate="testUaaApp.agence.home.title">Agences</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agence" [routerLink]="['/agence/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testUaaApp.agence.home.createLabel">
            Create a new Agence
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="agences?.length === 0">
        <span jhiTranslate="testUaaApp.agence.home.notFound">No agences found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="agences && agences.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idagence"><span jhiTranslate="testUaaApp.agence.idagence">Idagence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeagence"><span jhiTranslate="testUaaApp.agence.codeagence">Codeagence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numero"><span jhiTranslate="testUaaApp.agence.numero">Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="testUaaApp.agence.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="testUaaApp.agence.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agence of agences ;trackBy: trackId">
                    <td><a [routerLink]="['/agence', agence.id, 'view']">{{ agence.id }}</a></td>
                    <td>{{ agence.idagence }}</td>
                    <td>{{ agence.codeagence }}</td>
                    <td>{{ agence.numero }}</td>
                    <td>{{ agence.nom }}</td>
                    <td>{{ agence.adresse }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/agence', agence.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/agence', agence.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(agence)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="agences && agences.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
